{% extends 'base.html' %}
{% load static %}
{% block title %}Active Delivery Placed by {{ request.user.username }}{% endblock title %}

{% block banner-slider %}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Active Delivery</h2>
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Active Delivery</li>
            </ol>
        </div>
    </div>
</section>
{% endblock %}

{% block main-content %}
<section class="active-deliveries">
    <div class="container">
        {% if active_deliveries %}
            <div class="row">
                {% for delivery in active_deliveries %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ delivery.booking.product_name }}</h5>
                            <p class="card-text text-warning"><strong>Destination:</strong> {{ delivery.booking.destination_state }}</p>
                            <p class="card-text text-warning"><strong>Truck:</strong> {{ delivery.booking.truck.name }}</p>
                            <p class="card-text text-warning"><strong>Total Delivery Cost:</strong> ${{ delivery.booking.total_delivery_cost }}</p>
                            <p class="card-text text-warning"><strong>Scheduled Date:</strong> {{ delivery.scheduled_date }}</p>
                            <p class="card-text text-warning"><strong>Status:</strong> {{ delivery.status }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No active deliveries.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
