{% extends 'base.html' %}
{% load static %}
{% block title %}Truck List{% endblock title %}

{% block banner-slider %}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Truck List</h2>
            <ol>
                <li><a href="{% url 'truck_owner_home' %}">Home</a></li>
                <li>Truck List</li>
            </ol>
        </div>
    </div>
</section>
{% endblock %}

{% block main-content %}
<div class="container mt-5">
    <div class="row">
        {% for truck in trucks %}
        <div class="col-md-4">
            <div class="card mt-5 mb-4">
                <img src="{{ truck.image.url }}" class="card-img-top" alt="{{ truck.name }}">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{ truck.name }}</h5>
                    <p class="card-text text-dark">Weight Range: {{ truck.get_weight_range_display }}</p>
                    <p class="card-text text-warning">Available: {{ truck.available|yesno:"Yes,No" }}</p>
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main-content %}
