{% extends 'base.html' %}
{% load static %}
{% block title %}HomePage{% endblock title %}
    
{% block banner-slider %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="mt-5 d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100" >
            <div class="row">
                <div class="col-lg-8">
                    <h1>Welcome to <span>SurgeSeven</span></h1>
                    <h2>Delivering farm produce for more than 8 years!</h2>

                    <div class="btns">
                        <a href="#menu" class="btn-menu animated fadeInUp scrollto">Subscribe</a>
                        <a href="#" class="btn-book animated fadeInUp scrollto">Book a Truck</a>
                        
                    </div>
                </div>
        
                <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
                </div>

            </div>
        </div>
    </section>
    <!-- End Hero -->

{% endblock %}


{% block information %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589190/about-us_baqxmr.jpg" alt="">
                    </div>
                </div>
        
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>We welcome all our clients and truck owners to SurgeSeven</h3>
                    <p class="fst-italic">
                        SurgeSeven Logistics offers different services and different healthy foods depepnding on the preference of our customers.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Cooking and serving of healthy meals to food lovers.</li>
                        <li><i class="bi bi-check-circle"></i> Delivery service is top notch and always ready to deliver to our customers.</li>
                        <li><i class="bi bi-check-circle"></i> Burger restaurant also possess spatial environment and well decorated halls which are always ready for use by our customers for their events, be it wedding, birthday parties or custom parties.</li>
                    </ul>
                    <p>
                       SurgeSeven is a grade A logistics with state of the art facilities and a well organized envirionment that enables our highly esteemed customers enjoy thir meals. We are always at your service and strive to do more for our customers.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!--===== End About Section ======-->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Why Us</h2>
                <p>Why Choose SurgeSeven</p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <span>01</span>
                        <h4>Healthy Farm Produce</h4>
                        <p>Burger provides healthy and well cooked meal for our customers, Burger is also vegan inclined and fresh farm produce ready.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                        <span>02</span>
                        <h4>Booking</h4>
                        <p>Burger restaurant also provides a wonderful environment for customers events, we have well equipped halls and centres</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                        <span>03</span>
                        <h4>Delivery</h4>
                        <p>Burger restaurant also engages in delivery of food to our highly esteemed customers, our delivery service is top notch</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!---====== End Why Us Section ======-->



{% endblock %}

{% block main-content %}

     <!-- ======= Menu Section ======= -->
     <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Trucks</h2>
                <p>Book an availabe truck</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">Trucks</li>
                        <li data-filter=".filter-starters">Light</li>
                        <li data-filter=".filter-salads">Medium</li>
                        <li data-filter=".filter-specialty">Heavy</li>
                    </ul>
                </div>
            </div>

            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-6 menu-item filter-starters">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589241/service-3_p5irvr.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">VW Truck</a><span>#15,000</span>
                    </div>
                    <div class="menu-ingredients">
                        LightWeight, 0kg - 1000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-specialty">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589263/service-44_awzwb4.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Benz</a><span>#30,000</span>
                    </div>
                    <div class="menu-ingredients">
                        HeavyWeight, 5001kg - 10000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-starters">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589314/carousel-2_olrgfk.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">MAN</a><span>#12,000</span>
                    </div>
                    <div class="menu-ingredients">
                        LightWeight, 0kg - 1000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589332/service-1_rqcysa.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Boeing</a><span>#25,000</span>
                    </div>
                    <div class="menu-ingredients">
                        MediumWeight, 1001kg - 5000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-specialty">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589081/b4_mhh0ta.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Mercedes</a><span>#40,000</span>
                    </div>
                    <div class="menu-ingredients">
                        HeavyWeight, 5001kg - 10000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-starters">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589414/carousel-1_tfys3t.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Freight</a><span>#14500</span>
                    </div>
                    <div class="menu-ingredients">
                        LightWeight, 0kg - 1000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589470/g2_mbrlf8.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Shipping</a><span>#19,000</span>
                    </div>
                    <div class="menu-ingredients">
                        MediumWeight, 1001kg - 5000kg
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589920/service-2_eksc6s.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Maritime</a><span>$22000</span>
                    </div>
                    <div class="menu-ingredients">
                        MediumWeight, 1001kg - 5000kg                        
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-specialty">
                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724590009/service-4_ufjba7.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Bludge</a><span>#50,000</span>
                    </div>
                    <div class="menu-ingredients">
                        HeavyWeight, 5001kg - 10000kg
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--====== End Menu Section ======-->



    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Specials</h2>
                <p>Check Our Specials</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Freight</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Trucks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Tracking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Insurance</a>
                        </li>
                    </ul>
                </div>
        
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Freight Delivery</h3>
                                    <p class="fst-italic">Crab cake is simply prepared from the softest and delicious crabs with flavoured seeds and banana chips making it all better.</p>
                                    <p>Burger restaurant brings out the special delicacy of crab cake to soothe our ever demanding clients. Crab cake is new tried and tested delicacy by our ever creative chefs, we hope and pray our customers endeavour to try out this new delicacy and enjoy it. Crab cake is healthy and also enjoyed by everyone.</p>
                                </div>
                                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589346/a3_iiohrx.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Trucks</h3>
                                    <p class="fst-italic">Lobster Bisque is simply prepared from the softest and delicious crabs with flavoured seeds and banana chips making it all better.</p>
                                    <p>Burger restaurant brings out the special delicacy of lobster bisque to soothe our ever demanding clients. Lobster Bisque is new tried and tested delicacy by our ever creative chefs, we hope and pray our customers endeavour to try out this new delicacy and enjoy it. Lobster Bisque is healthy and also enjoyed by everyone.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589263/service-44_awzwb4.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Shipping</h3>
                                    <p class="fst-italic">Tuscan grilled is simply prepared from the softest and delicious crabs with flavoured seeds and banana chips making it all better.</p>
                                    <p>Burger restaurant brings out the special delicacy of tuscan grilled to soothe our ever demanding clients. Tuscan Grilled is new tried and tested delicacy by our ever creative chefs, we hope and pray our customers endeavour to try out this new delicacy and enjoy it. Tuscan Grilled is healthy and also enjoyed by everyone.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589414/carousel-1_tfys3t.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Tracking System</h3>
                                    <p class="fst-italic">Spinach Salad is simply prepared from the softest and delicious crabs with flavoured seeds and banana chips making it all better.</p>
                                    <p>Burger restaurant brings out the special delicacy of spinach salad to soothe our ever demanding clients. Spinach Salad is new tried and tested delicacy by our ever creative chefs, we hope and pray our customers endeavour to try out this new delicacy and enjoy it. Spinach Salad is healthy and also enjoyed by everyone.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589415/testimonials-bg_yfwfan.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Insurance Coverage</h3>
                                    <p class="fst-italic">Akara and pap is simply prepared from the softest and delicious crabs with flavoured seeds and banana chips making it all better.</p>
                                    <p>Burger restaurant brings out the special delicacy of akara and pap to soothe our ever demanding clients. Akara and pap is new tried and tested delicacy by our ever creative chefs, we hope and pray our customers endeavour to try out this new delicacy and enjoy it. Akara and pap is healthy and also enjoyed by everyone.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589470/feature_zwbedf.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--======== End Specials Section =========-->



    <!-- subscribe section -->
    <section id="section" class="section-bg">
        <div class="container mt-4" data-aos="fade-up">
            <div class="section-title">
                <h2>Subscribe</h2>
                <p>Subscribe with us now!</p>
            </div>

            
            <div class = "row px-3 my-4">
                
                <div class = "col-lg-4 pricing-item bg-green text-white text-center p-0 mb-5 mx-auto">
                    <div class = "pricing-title text-uppercase py-3 fs-5"> Free</div>
                    <div class = "pricing-price fs-1 fw-bold">Free</div>
                    <ul class = "px-0">
                        <li>Free</li>
                        <li>Free Space</li>
                        <li>Free Storage</li>
                    </ul>
                    <div class = "pricing-footer pt-3 pb-5">
                        <a href="{% url 'subscription-plans' %}" class="btn-book animated fadeInUp scrollto">Subscribe</a>
                    </div>
                </div>

                <div class = "col-lg-4 pricing-item bg-green text-white text-center p-0 mb-5 mx-auto">
                    <div class = "pricing-title text-uppercase py-3 fs-5">Basic</div>
                    <div class = "pricing-price fs-1 fw-bold">#999<sup>99</sup></div>
                    <ul class = "px-0">
                        <li>Booking</li>
                        <li>Delivery</li>
                        <li>Storage</li>
                    </ul>
                    <div class = "pricing-footer pt-3 pb-5">
                        <a href="{% url 'subscription-plans' %}" class="btn-book animated fadeInUp scrollto">Subscribe</a>
                    </div>
                </div>

                <div class = "col-lg-4 pricing-item bg-green text-white text-center p-0 mb-5 mx-auto">
                    <div class = "pricing-title text-uppercase py-3 fs-5">Premium</div>
                    <div class = "pricing-price fs-1 fw-bold">#1999<sup>99</sup></div>
                    <ul class = "px-0">
                        <li>Booking</li>
                        <li>Insurance</li>
                        <li>Tracking</li>
                    </ul>
                    <div class = "pricing-footer pt-3 pb-5">
                        <a href="{% url 'subscription-plans' %}" class="btn-book animated fadeInUp scrollto">Subscribe</a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- end subscribe section -->

{% endblock %}